/** Flash (iframe) styles **/
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.flash-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  left: 0;
  top: 0;
  animation-name: flash;
  animation-timing-function: ease-out;
  /** @see also flash.js. The timing should be in sync with the closing timer. **/
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: flash;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes flash {
  from { background: white; }
  to  background: none; }
}
@keyframes flash {
  0% { background: white; }
  100% { background: none; }
}

