/** Record controls (content injected CSS) styles **/

#cloudapp-controls .ca-el-visible {
  display: inline-block !important;
}

#cloudapp-controls .ca-el-hidden {
  display: none !important;
}

#cloudapp-controls .ca-countdown-overlay {
  position: fixed;
  z-index: 2147483647;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all .15s;
  -webkit-transition: all .15s;
}

#cloudapp-controls .ca-countdown-overlay .ca-countdown-value {
  text-align: center;
  font-size: 300px;
  font-family: Arial !important;
  font-weight: normal;
  color: #4a90e2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cloudapp-controls .ca-recording-controls-overlay {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2147483647;
  background-color: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all .75s;
  -webkit-transition: all .75s;
}

#cloudapp-controls .cloudapp-webcam-container {
  bottom: 0;
  left: 0;
  margin: 0;
  border-radius: 50% !important;
  -webkit-mask-image: -webkit-radial-gradient(circle, #0d0f1a 100%, #0d0f1a 0);
}

#cloudapp-controls .cloudapp-webcam-container,
#cloudapp-controls .cloudapp-webcam-container iframe {
  width: 100%;
  height: 100%;
  min-height: auto!important;
  min-width: auto!important;
  border: none;
  pointer-events: none;
}

#cloudapp-controls .cloudapp-webcam-container.default {
  width: 128px !important;
  height: 128px !important;
}

#cloudapp-controls .ca-recording-controls {
  display: inline-block;
  height: 128px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#cloudapp-controls .ca-recording-controls .ca-webcam-mic-badge {
  position: absolute;
  z-index: 21;
  left: 0;
  top: 0;
  -webkit-animation: 1s ease 0s normal forwards 1 caMicBadgeFadein;
  animation: 1s ease 0s normal forwards 1 caMicBadgeFadein;
}

#cloudapp-controls .ca-recording-controls .ca-webcam-mic-badge img {
  width: 38px;
  height: 38px;
}

@keyframes caMicBadgeFadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes caMicBadgeFadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

#cloudapp-controls .ca-recording-controls .cloudapp-webcam-container {
  position: relative;
  float: left;
  margin-right: 10px;
  z-index: 20;
}

#cloudapp-controls .ca-recording-controls .ca-control-buttons-wrapper {
  z-index: 20;
  height: 128px;
  width: 350px;
  position: relative;
  float: left;
}

#cloudapp-controls .ca-recording-controls .ca-control-buttons-pos {
  position: absolute;
  bottom: 0;
  left: -15px;
}
#cloudapp-controls .ca-recording-controls .ca-control-buttons-pos.nocam {
  left: 0;
}

#cloudapp-controls .ca-recording-controls .ca-control-buttons-inner {
  position: relative;
  width: 100%;
  display: inline-block;
}

#cloudapp-controls .ca-reveal-effect {
  opacity: 1;
  animation-name: caRevealEffect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.35s;
}

@keyframes caRevealEffect {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

#cloudapp-controls .ca-trggr-rec-group {
  all: initial;
  width: 55px;
  height: 55px;
  display: inline-block;
  position: relative;
  float: left;
  bottom: 0px;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 35px !important;
  overflow: hidden;
  animation-name: expandRecorControlsAnimation;
  animation-duration: 0.2s;
}

#cloudapp-controls .ca-trggr-rec-group.ca-el-expand {
  width: 161px;
}

@keyframes expandRecorControlsAnimation {
  0% {
    width: 55px;
  }
  100% {
    width: 224px;
  }
}

#cloudapp-controls .ca-trggr-rec-group .ca-group-item {
  all: initial;
  display:inline-block;
  position: relative;
  float: left;
  width: 49px;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
  object-fit: contain;
}

#cloudapp-controls .ca-trggr-rec-group .ca-group-item {
  border-right: 1px solid #979797;
}

#cloudapp-controls .ca-trggr-rec-group .ca-group-item:first-child,
#cloudapp-controls .ca-trggr-rec-group .ca-group-item:last-child {
  border-right: none;
}

#cloudapp-controls .ca-trggr-rec-group .ca-group-item.ca-rec-done img {
  padding-left: 15px;
}

#cloudapp-controls .ca-group-item.ca-rec-time {
  width: 67px;
}

#cloudapp-controls .ca-group-item.ca-rec-done {
  width: 44px;
}

#cloudapp-controls .ca-trggr-default-group .cloudapp-btn {
  all: initial;
  display:inline-block;
  position: relative;
  float: left;
  margin-right: 10px;
  padding: 0px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 50% !important;
  cursor: pointer;
  object-fit: contain;
}

#cloudapp-controls .ca-time-lapse-wrapper {
  position: absolute;
  left: 45%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-family: Arial !important;
  margin-left: -5px;
}

#cloudapp-controls .ca-time-lapse-wrapper .ca-rec-time-lapsed,
#cloudapp-controls .ca-time-lapse-wrapper .ca-rec-time-text {
  line-height: 15px;
}

#cloudapp-controls .ca-trggr-default-group .cloudapp-btn .ca-trggr-ctr,
#cloudapp-controls .ca-trggr-rec-group .ca-group-btn .ca-trggr-ctr {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#cloudapp-controls .cloudapp-btn.ca-trggr-rec img,
#cloudapp-controls .ca-group-btn.ca-trggr-rec img {
  width: 29px;
  height: 29px;
}

#cloudapp-controls .cloudapp-btn.ca-trggr-resume img,
#cloudapp-controls .ca-group-btn.ca-trggr-resume img  {
  width: 29px;
  height: 29px;
}

#cloudapp-controls .cloudapp-btn.ca-trggr-cancel img,
#cloudapp-controls .ca-group-btn.ca-trggr-cancel img {
  width: 21px;
  height: 21px;
}

#cloudapp-controls .cloudapp-btn.ca-trggr-pause img,
#cloudapp-controls .ca-group-btn.ca-trggr-pause img {
  width: 29px;
  height: 29px;
}

#cloudapp-controls .ca-group-btn.ca-trggr-done img {
  width: 29px;
  height: 29px;
}

#cloudapp-controls .cloudapp-btn.ca-mic-on img,
#cloudapp-controls .cloudapp-btn.ca-mic-off img {
  width: 29px;
  height: auto;
}

#cloudapp-controls .cloudapp-btn.ca-cam-off img {
  width: 26px;
  height: 21px;
}
